--
-- PostgreSQL database dump
--

\restrict OywQ34pMT6InKTnPSUHgdqQz7ejP1pAHvNGXaX3kcD7vR0FahSsdwFCjyWAMMm1

-- Dumped from database version 17.6 (Debian 17.6-0+deb13u1)
-- Dumped by pg_dump version 17.6 (Debian 17.6-0+deb13u1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.history DROP CONSTRAINT IF EXISTS history_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.history DROP CONSTRAINT IF EXISTS history_task_id_fkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_username_key;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.tasks DROP CONSTRAINT IF EXISTS tasks_pkey;
ALTER TABLE IF EXISTS ONLY public.task_families DROP CONSTRAINT IF EXISTS task_families_pkey;
ALTER TABLE IF EXISTS ONLY public.task_families DROP CONSTRAINT IF EXISTS task_families_name_key;
ALTER TABLE IF EXISTS ONLY public.history DROP CONSTRAINT IF EXISTS history_pkey;
ALTER TABLE IF EXISTS public.users ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.tasks ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.task_families ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.history ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.users_id_seq;
DROP TABLE IF EXISTS public.users;
DROP SEQUENCE IF EXISTS public.tasks_id_seq;
DROP TABLE IF EXISTS public.tasks;
DROP SEQUENCE IF EXISTS public.task_families_id_seq;
DROP TABLE IF EXISTS public.task_families;
DROP SEQUENCE IF EXISTS public.history_id_seq;
DROP TABLE IF EXISTS public.history;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: history; Type: TABLE; Schema: public; Owner: ielo_user
--

CREATE TABLE public.history (
    id integer NOT NULL,
    task_id integer,
    user_id integer,
    action character varying(255),
    details text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.history OWNER TO ielo_user;

--
-- Name: history_id_seq; Type: SEQUENCE; Schema: public; Owner: ielo_user
--

CREATE SEQUENCE public.history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.history_id_seq OWNER TO ielo_user;

--
-- Name: history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ielo_user
--

ALTER SEQUENCE public.history_id_seq OWNED BY public.history.id;


--
-- Name: task_families; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.task_families (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    display_order integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.task_families OWNER TO postgres;

--
-- Name: task_families_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.task_families_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.task_families_id_seq OWNER TO postgres;

--
-- Name: task_families_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.task_families_id_seq OWNED BY public.task_families.id;


--
-- Name: tasks; Type: TABLE; Schema: public; Owner: ielo_user
--

CREATE TABLE public.tasks (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    status character varying(20) DEFAULT 'todo'::character varying,
    team character varying(50),
    assigned_to character varying(100),
    external_link character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    family character varying(50)
);


ALTER TABLE public.tasks OWNER TO ielo_user;

--
-- Name: tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: ielo_user
--

CREATE SEQUENCE public.tasks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tasks_id_seq OWNER TO ielo_user;

--
-- Name: tasks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ielo_user
--

ALTER SEQUENCE public.tasks_id_seq OWNED BY public.tasks.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: ielo_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(20) DEFAULT 'user'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    refresh_rate integer DEFAULT 10,
    auth_source character varying(10) DEFAULT 'local'::character varying
);


ALTER TABLE public.users OWNER TO ielo_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: ielo_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO ielo_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ielo_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: history id; Type: DEFAULT; Schema: public; Owner: ielo_user
--

ALTER TABLE ONLY public.history ALTER COLUMN id SET DEFAULT nextval('public.history_id_seq'::regclass);


--
-- Name: task_families id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_families ALTER COLUMN id SET DEFAULT nextval('public.task_families_id_seq'::regclass);


--
-- Name: tasks id; Type: DEFAULT; Schema: public; Owner: ielo_user
--

ALTER TABLE ONLY public.tasks ALTER COLUMN id SET DEFAULT nextval('public.tasks_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: ielo_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: history; Type: TABLE DATA; Schema: public; Owner: ielo_user
--



--
-- Data for Name: task_families; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.task_families (id, name, display_order, created_at) FROM stdin;
1	IG	1	2025-12-08 22:11:58.863314
2	WDM	2	2025-12-08 22:11:58.863314
3	Infra	3	2025-12-08 22:11:58.863314
4	Hardware	4	2025-12-08 22:11:58.863314
5	Transit	5	2025-12-08 22:11:58.863314
6	System	6	2025-12-08 22:11:58.863314
\.


--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: ielo_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: ielo_user
--



--
-- Name: history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ielo_user
--

SELECT pg_catalog.setval('public.history_id_seq', 50, true);


--
-- Name: task_families_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.task_families_id_seq', 6, true);


--
-- Name: tasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ielo_user
--

SELECT pg_catalog.setval('public.tasks_id_seq', 12, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ielo_user
--

SELECT pg_catalog.setval('public.users_id_seq', 19, true);


--
-- Name: history history_pkey; Type: CONSTRAINT; Schema: public; Owner: ielo_user
--

ALTER TABLE ONLY public.history
    ADD CONSTRAINT history_pkey PRIMARY KEY (id);


--
-- Name: task_families task_families_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_families
    ADD CONSTRAINT task_families_name_key UNIQUE (name);


--
-- Name: task_families task_families_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_families
    ADD CONSTRAINT task_families_pkey PRIMARY KEY (id);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: ielo_user
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: ielo_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: ielo_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: history history_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ielo_user
--

ALTER TABLE ONLY public.history
    ADD CONSTRAINT history_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(id) ON DELETE CASCADE;


--
-- Name: history history_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ielo_user
--

ALTER TABLE ONLY public.history
    ADD CONSTRAINT history_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict OywQ34pMT6InKTnPSUHgdqQz7ejP1pAHvNGXaX3kcD7vR0FahSsdwFCjyWAMMm1

